[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-ragtag"]
	path = .vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
    url = https://github.com/kchmck/vim-coffee-script
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
    url = https://github.com/dense-analysis/ale
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
    url = https://github.com/editorconfig/editorconfig-vim
[submodule ".vim/bundle/vim-hack"]
	path = .vim/bundle/vim-hack
    url = https://github.com/hhvm/vim-hack
[submodule ".vim/bundle/vim-jsonnet"]
	path = .vim/bundle/vim-jsonnet
	url = git@github.com:google/vim-jsonnet.git
[submodule ".vim/bundle/vim-autopep8"]
	path = .vim/bundle/vim-autopep8
	url = git@github.com:tell-k/vim-autopep8.git
